.Weather {
  max-width: 70%;
  margin: 30px auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  font-size: 14px;
}

.Weather h1,
.Weather h2,
.Weather p {
  text-align: left;
  line-height: 8px;
}
.Weather h1 {
  font-size: 50px;
}
.Weather h2 {
  font-size: 40px;
}

.Weather p {
  color: #8d99ae;
}

.Weather img {
  max-width: 100px;
}

.Weather #search-input {
  width: 400px;
  line-height: 1.5;
  border: #4dbfd9 solid 1px;
}

.Weather .search-button {
  padding: 5px 10px;
  color: white;
  border: #f1faee solid 1px;
  background-color: #4dbfd9;
}

.Weather .search-button:hover {
  background-color: #358698;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.Weather .top-row {
  margin: 10px 40px;
}
.Weather .row {
  display: flex;
  justify-content: space-evenly;
}
.Weather .col {
  max-width: 100%;
  max-height: 100px;
}

.Weather .temp {
  margin-top: 15px;
  padding: 0 20px;
}
.Weather .other-info {
  margin-top: 0;
}
.Weather .forecast {
  background: #f1faee;
  border-radius: 10px;
}
